 .nav li,.sp, .bs-example{
      margin: 10px;
      color: white;
    }
     .d{
        margin-top: 10px;
        padding-bottom:  20px;

    }
    .d a{
        color: white;
    }
    .s{
        width: 1000px;
          float: left;
    background: white;
    margin-top: 50px;
    margin-left: 40px;
    
  
  
  }
  .photo-info-box{
  border:1px solid #e5e5e5;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0.1px 1px rgba(0,0,0,.04);
  background-color: #fff;
}
.info-box-header{
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow:0.1px 1px 1px rgba(0,0,0,.04);
  background-color: #fff;
}

.photo-info-box .box-inner{
  border-top:1px solid #e5e5e5;
  background-color: #fff;
  padding: 6px;
}